.nav {
    width: 100%;
    box-shadow: 0 0 7px black;
    padding:2rem 5rem;
    background-color: rgb(255, 250, 245);
    height:10vh;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav ul li {
    font-size: 2rem;
    flex:1;
    transition: all .3s;
}
.nav ul li:hover {
    transform: translateY(4px);
}

.link, .feedBack{
    text-decoration: none;
    opacity: .7;
    transition: all .5s;
    color: black;
}
.link:active, .feedBack:active,.link:hover,.feedBack:hover {
    opacity: 1;
}

.linkHome{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: black;

}



.feedBack{
    padding:.7rem;

    background-color: red;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
}
.nav ul li:last-child{
    display: none;
}

@media screen and (max-width: 700px) {
    .nav ul li:not(:first-child) {
        display: none;
    }
    .nav ul li:last-child{
        position:absolute;
        right: 10%;
        display: inline-block;
        cursor: pointer;
        font-size: 4rem;
        font-weight: 900;
    }
  }